<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>welcome to admin cilent</h1>
    <div id="loginTip"></div>
    <p><button onclick="getOrderInfo()">获取订单信息</button></p>

    <table>
        <tr><td>order id</td><td><input id="orderId" /></td></tr>
        <tr><td>order product id</td><td><input id="productId" /></td></tr>
    </table>




</body>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>


    function getOrderInfo(){
        $.get("api/order/orders/1",function(data){
            $("#orderId").val(data.id);
            $("#productId").val(data.productId);
        }).fail(function () {
            alert('获取订单失败！');
        });;
    }
    
    function logout() {
        //$.get("/logout",function(data){
            //1浏览器cookie失效掉
//        alert("删除之前--"+$.cookie('nb_access_token'));
//        alert("删除之前--"+$.cookie('nb_refresh_token'));
        $.removeCookie('nb_access_token',{domain:'nb.com',path:'/'});
        $.removeCookie('nb_refresh_token',{domain:'nb.com',path:'/'});
//            $.removeCookie('nb_access_token',{ path: '/'});
//            $.removeCookie('nb_refresh_token',{ path: '/'});
//            alert($.cookie('nb_access_token'));
//            alert($.cookie('nb_refresh_token'));
            //2，将认证服务器的session失效, /logout 是SpringSecurity OAuth默认的退出过滤器
            // org.springframework.security.web.authentication.ui.DefaultLogoutPageGeneratingFilter
            window.location.href = "http://auth.nb.com:9090/logout?redirect_uri=http://admin.nb.com:8080/index";
        //});
    }

    //拦截全局错误响应
    $(document).ajaxError(function( event, response, settings ) {
        //response打印出来是这样式的：
        //{"readyState":4,"responseText":"{\"message\":\"refresh fail\"}","responseJSON":{"message":"refresh fail"},"status":401,"statusText":"error"}
        //alert(JSON.stringify(request));
        if (response.status == 500 && response.responseJSON.message =='refresh fail') {
            //alert("登录失效！请重新登录！");
            //在这里处理，登录失效让用户去认证服务器走1遍退出流程
            logout();
        }
    });


    $(document).ready(function(){
        //TODO:这里写成 /api/user/me 就会疯狂刷新页面
        $.get("api/user/me",function(data,status){

            if(data){
                //已登录
                var htm = "已登录,<a onclick='logout()' href='#'>退出</a>";
                $("#loginTip").html(htm);
            }else{
                //未登录
                var href = "<a href='/toAuthLogin'>未登录，去登录</a>";
                $("#loginTip").append(href);
            }
        }).fail(function () {
            //未登录
            var href = "<a href='/toAuthLogin'>未登录，去登录</a>";
            $("#loginTip").append(href);
        });
    });

</script>
</html>